.cartForm{
    padding: 10px 0;
}
.cartForm label{
    display: inline-block;
    text-align: right;
    padding:3px 4px;
    width: 6rem;
    vertical-align: top;
}
.message{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}