.fgo-InF{
    display: flex;
    flex-direction: row;
}
.fgo-InF-container{  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 1em;
}


.fgo-InF-content-des{
    font-size: 14px; 
    color:gray;
}


@media screen and (max-width:900px) {
    .fgo-InF{
        flex-direction: column;
        overflow: scroll;
        margin-bottom: 1em;
    }
    .fgo-InF-content-des{
        max-height: 20vh;
        overflow: scroll;
    }
}

@media screen and (max-width:800px) {
    .fgo-InF{
        display: flex;
    }
}
@media screen and (max-width:600px) {
    .fgo-InF-container{
        width: 70vw;
    }
    .fgo-InF-content-des{
        overflow:scroll ;
    }
}
