.fgo-InF-content-second{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.fgo-InF-content-quantity{
    margin-right: 10px; 
}
.fgo-InF-content-minus,
.fgo-InF-content-plus {
    cursor: pointer;
    border: 1px solid gray;
    padding: 6px 30px;
    user-select: none;
    
}

.fgo-InF-content-num{
    border: 1px solid gray;
    padding: 6px 15px;
}
.fgo-InF-content-button{
    padding: 10px 20px;
    background-color: black;
    margin-left: 12rem;
    font-size: 1rem;
    font-weight: 500;
    color: white; 
    cursor: pointer;
    width: 150px;
}
.fgo-InF-content-button:hover{
    background-color: rgba(0,0,0,0.75);
}




@media screen and  (max-width:1100px){
    .fgo-InF-content-second{
        margin-top: 50px;
    }
    .fgo-InF-content-button{
        margin-left: 5rem;
    }
   
}
@media screen and (max-width:900px) {
    .fgo-InF-content-second{
        margin-top: 0;
    }
}
@media screen and (max-width:700px) {
    .fgo-InF-content-button{
        width: 120px;
        padding: 7px 10px;
        font-size: 16px;
        margin-left: 5vw;
    }

    .fgo-InF-content-quantity{
        
        width: 10vw;
    }

}
@media screen and (max-width:520px){
    .fgo-InF-content-button{
        width: 150px;
        padding: 8px 17px;
        font-size: 14px;
        margin-left: 5vw;
    }
    .fgo-InF-content-minus,
    .fgo-InF-content-plus {
    cursor: pointer;
    border: 1px solid gray;
    padding: 4px 12px;
    user-select: none;
    
}

    .fgo-InF-content-num{
    border: 1px solid gray;
    padding: 4px 8px;
}
}