.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    flex-wrap: wrap;
    --input-width:46em;
}
.form-container textarea{
    resize: none;
}
.form-container-address-form{
    width: 50em;
   padding: 15px 10px;
    border:none;
    border-color: black;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    height: auto;
    
}
.form-container-address-form-title{
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.form-container-address-form >div{
    padding: 10px 0px;
}
.form-container-address-form-name{
    display: flex;
}
.form-container-address-form-contact{
    display: flex;
}
label{
    
    display: inline-block;
    padding: 3px 6px;
    text-align: right;
    width: 6rem;
    vertical-align: top;
}
input{
    width: var(--input-width);
}
.form-container-address-form-name input,
.form-container-address-form-city input,
.form-container-address-form-contact input{
    width: calc((var(--input-width)/2) - 3.6em);
}
.form-container-address-form-name label,
.form-container-address-form-city label,
.form-container-address-form-contact label{
    padding:3px 4px;
}
.form-container-address-form-city{
    display: flex;
}
.form-container-address-form-city-first{
    width: 250px;
}
.form-container-address-form-city-second{
    display: flex;
    flex-wrap: wrap;
    margin-left: 8.05em;
}
.form-container-address-form-memo textarea{
    width: 46em;
    height:10em;
}
.message{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

@media (max-width:1355px){
    .form-container{
    margin-top: 5em;
    
    }
  
}
@media (max-width:52em) {
    .form-container-address-form{
        width:80vw;
    }
    .form-container-address-form-name,
    .form-container-address-form-contact
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .form-container-address-form-name input,
    .form-container-address-form-contact input,
    .form-container-address-form-street input{
        width: 55vw;
    }
    .form-container-address-form-memo textarea{
        width: 55vw;
    }
}
@media (max-width:46em){
    .form-container-address-form-city{
        display: flex;
        flex-direction: column;
    }

    .form-container-address-form-city-second{
        margin-left: 1.47em;
        
    }

    
}
@media (max-width:30em){
    .form-container-address-form-name input,
    .form-container-address-form-contact input,
    .form-container-address-form-street input{
        width: 45vw;
    }
    .form-container-address-form-memo textarea{
        width: 45vw;
    }
}