.summary{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
    flex-direction: column;
    background-color: var(--background);
    box-shadow: 0 0 20px var(--border);
    color: var(--text-color);
    height: 25em;
    margin-top: 20px;
} 

.summary-title{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: 28em;
    padding: 10px 0px;
}

.summary-content{
    overflow: auto;
   display: flex;
   flex-direction: column;
   margin-bottom: 2rem;
   height: 100%;
   border-color: var(--border);
   border-bottom-width: 1px;
   border-bottom-style: solid;
   padding: 5px 0px;
}

.summary-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25em;
}

.summary-button button{
    border-radius: 10px;
    font-size: 25px;
    width:7em;
    margin: 1px 3px;
    background-color: var(--background);
    border: 2px solid var(--border);
    cursor: pointer;
    color: var(--text-color);
    font-weight: bold;
}


@media screen and  (max-width:840px){
    .summary{
        margin-top: 2em;
    }
    .summary-title{
        width: 70vw;
    }    
   
}
@media screen and (max-width:650px) {
    .summary-button{
        width:60vw;
    }
}
@media screen and (max-width:500px) {
    .summary-button h3{
        font-size: 16px;
    }
    .summary-button button{
    border-radius: 10px;
    font-size: 20px;
    width:7em;
    margin: 1px 3px;
    background-color: transparent;
    border: 2px solid #ccc;
    cursor: pointer;
    font-weight: bold;
}
}

@media screen and (max-width:400px) {
    
    .summary-button button{
    border-radius: 10px;
    font-size: 16px;
    width:6em;
    margin: 1px 3px;
    background-color: transparent;
    border: 2px solid #ccc;
    cursor: pointer;
    font-weight: bold;
}
}