input[type="file"] {
    display: none;
}
.container{
    background-color: white;
    width: 45rem;
    padding: 10px 20px;
    margin-top: 3rem;
}
.personalInf-header{
    padding: 15px ;
    border-bottom: 1px solid black;
}

.personalInf-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personalInf-main{
    display: flex;
    padding: 15px;
}

.personalInf-title{
    width: 10rem;
}
.personalInf-detail{
    vertical-align: middle;
}

.personalInf-title{
    text-align: right;
    padding-bottom: 20px;
 
}
.personalInf-content{
    padding-bottom: 20px;
    padding-left: 20px;
    text-align: left;
    vertical-align: middle;
    width: 15rem;
}
.personalInf-content button{
    border: none;
    padding: 10px 15px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.personalInf-content button:hover{
    background-color: rgba(0,0,0,0.5);
}
.personalInf-verified{
    padding: 0px 10px;
}

.personalInf-input{
    padding-bottom: 20px;
    padding-left: 20px;
}
.personalInf-input input{
    width: 7.5rem;
    height: 2rem;
    padding: 12px
}
.personalInf-img{
    display: flex;
    justify-content: center;
    width: 15rem;
    border-left: 1px solid black;
    flex-direction: column;
    align-items: center;
}

.personalInf-img img{
    width: 100px;
    height: 100px;
}


.file{
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin-top: 20px;
}
.file:hover{
    background-color: rgba(192,192,192,0.25);
}

@media screen and (max-width:750px) {
    .container{
        max-width: 70vw;
    }
}
@media screen and (max-width:600px) {
    .personalInf-main{
        flex-direction: column;
    }
    .personalInf-img{
        border: none;
        border-top: 1px solid black;
        width: 100%;
    }
    .personalInf-img img{
        margin-top: 10px;
    }
}


@media screen and (max-width:400px) {
    .personalInf-title{
        padding: 0;
    }
}