.item-intro{
    display: flex;
    align-items: center;
    overflow-y:scroll;
}
.item-intro img{
    width: 150px;
    height: 100px;
}
.item-bottom{
    padding: 5px 0px;
    border-bottom: 1px dotted var(--border);
}

.item-name{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-left: 12px;
}
.item-price{
padding-right: 12px;
    font-size: 1.25rem;
}

.item-all{
    display: flex;
}
.item-allNumber{
    flex: 1;
}

.item-all-price span{
    font-size: 1.25rem;
    padding-left: 5px;
}

.item-all-detail{
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid var(--border);
    margin-bottom: 10px;
}

.item-all-detail:hover{
    color:#2a52be;
}
.item-delete{
    position: absolute;
    z-index: 5;
}

@media screen and (max-width:450px) {
    .item-intro img{
        width: 100px;
        height: 80px;
    }
}