.signup-content{
    position: relative;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 2px;
    width: 25vw;
    margin-bottom: 24px;
}

.signup-content-input{
    font-family: inherit;
    width: 100%;
   
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: black;
    padding: 3px 0;
    background: transparent;
}

.signup-content-input::placeholder{
    color: transparent;
}
.signup-content-input:placeholder-shown~ label{
    font-size: 1.3rem;
    cursor: text;
    top: 0;
    color: black;
}
.signup-content-label{
    position: absolute;
    color:gray;
    width: 100%;
    left:0;
    font-size: 1rem;
    top:-20px;
    transition-duration: 0.3s;
    pointer-events:none;
   
}
.signup-content input:focus ~ label{
    top:-20px;
    font-size: 1rem;
    color: gray;
}
.message{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 16px;
}


@media screen and (max-width:1200px) {
    .signup-content{
        width: 40vw;
    }
}

@media screen and (max-width:500px) {
    .signup-content{
        margin-bottom: 18px;
    }
    .signup-content-input,
    .signup-content-input:placeholder-shown~ label{
        font-size: 1rem; 
    }
    .signup-content-label,
    .signup-content input:focus ~ label{
        top:-15px;      
    }
    .signup-content-input:placeholder-shown~ label{
        top:5px;
    }
}