
.h2{
    padding: 15px;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
}
.item-detail-loading{
   
    margin-top: 10rem;
    width: 45rem;
    
}
.item-detail-button{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.item-detail-cancel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    background-color: transparent;
    border: 1px solid rgba(155,155,155,0.75);
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}
.item-detail-cancel:hover{
    background-color: rgba(0,0,0,0.05);
}
@media screen and (max-width:750px) {
    .item-detail-loading{
        max-width: 70vw;
    }
    
}