.box{
    width:100%; 
    border-radius:10px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spinner{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
 font-size: 24px;
  color: var(--text-color);
  letter-spacing: 2px;
 letter-spacing: 2px;
}
.spinner::after{
  content: "";
  position: absolute;
  height: 200px;
  width: 200px;
  border-top: 12px solid rgba(0,0,0,0.25);
  border-right: 12px solid rgba(0,0,0,0.25);
  border-bottom: 12px solid rgba(0,0,0,0.25);
  border-left: 12px solid var(--border);
  border-radius: 50%;
  animation: spin 1.3s linear infinite;
}


.inTip{
  margin-top: 7rem;
  margin-bottom: 2.5rem;
  text-align: center;
  font-size: 1.25rem;
}
.reload{
  border: 1px solid var(--border);
  min-width: 140px;
  min-height: 50px;
  cursor: pointer;
}
.reload:hover{
  background-color: rgba(255,255,255,0.25);
}
@keyframes spin {
    from {
      transform: rorate(0deg);
    }
    
    to {
      transform: rotate(360deg);
    }
  }

