.page{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    color: var(--text-color); 
    padding: 0px 2rem;
}
.page-detail{
    width: 1200px;
}
.productdetail-loading{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: transparent;
}