.page{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:4.5rem;
    background-color: white;
    padding: 0px 2rem;
}
.productdetail-loading{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: transparent;
}