.header-button{
    cursor: pointer;
    color: black;
    border: none;
    display: flex;
    font: inherit;
    position: relative;
   
}


.header-button-icon{
   display:flex;
   justify-content: center;
   align-items: center;
   color: var(--text-color);
   width: 2.35em;  
}

 .header-button-number{
    
    left: 27px;
    background-color: red;
    color: white;
    border-radius: 100%;
    position: absolute;
    font-size: 14px;
    padding: 2px 6px;
    text-align: center;
    
}
.header-button-number-bump{

    left: 27px;
    background-color: red;
    color: white;
    border-radius: 100%;
    position: absolute;
    font-size: 14px;
    padding: 2px 6px;
    text-align: center;
    animation: bump 300ms ease-out;
}
@keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }
