.header{
    position: sticky;
    background-color: var(--background);
    color: var(--text-color);
    width: 100%;
    top: 0;
    left: 0;
    padding: 0 5%;
    height: 4rem;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 8px var(--text-color);
    z-index: 5;
}
.header h1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex:7
}
.header h1 img{
    margin: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.navbar{
    display: flex;
    justify-content: flex-end;
    flex: 3;    
}
.dropDown{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropDownMenu{
    position: absolute;
    width: 100px;
    height: 70px;
    top: 55px;
    left: calc((-50% - 40px) /2);
    background-color: var(--background);
    border-radius: 10px;
    box-shadow: 3px 5px 10px var(--border);
}

.accountNav{
      display: flex;
    flex-direction: column;
    align-items: center;
    
}
.accountNav-login,
.accountNav-signup{
    width: 100%;
    display: flex;
   list-style-type: none;
   padding: 5px ;
}
.accountNav-login li{
    display: flex;
    justify-content: center;
}
.accountNav-signup{
    flex-direction: column;
}
.accountNav-signup ul{
    display: flex;
    
}
.accountNav-signup ul li{
    display: flex;
    list-style-type: none;
}
.accountBox{
   font-size: 50px;
}

.active{
    color: var(--text-color);
    text-decoration:none;
}
.loginImg{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    cursor:pointer;
    margin-right:10px;
}

.theme{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:420px) {
    .header h1{
        font-size: 1.5rem;
    }
}