.ItemList-fixed{
    width: 200px;
}
.ItemList-category{
    display: flex;
    flex-direction: column;
   width: 200px;
   margin-left: 5px;
   
}

.ItemList-category-button{
    font-size: 1.5em;
    border :2px ;
    border-radius: 20px;
   cursor: pointer;
   padding: 7px 10px;
   margin-top: 1rem;
   margin-right: 1.5rem;
   background-color: white;
   color: gray;
}
.ItemList-category-button-active{
    font-size: 1.5em;
    border :2px ;
    border-radius: 20px;
   cursor: pointer;
   padding: 7px 10px;
   margin-top: 1rem;
   margin-right: 1.5rem;
   background-color: rgb(192, 188, 188);
   color: gray;
}


@media screen and  (max-width:1250px){

    .ItemList-category{
        position: relative;
    }
    .ItemList-fixed,
    .ItemList-category{
        width: 100vw;
    }

} 
