*{
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body,
html{
  height: 100%;
  background-color: var(--background); 
}
:root{
    --swiper-navigation-size:20px;
    --background:#F5F5F5;
    --text-color:#121212;
    --border:#333;
    --form:#FFFFFF;
    --button:#8e05c2;
    --switch:#42509e;
    
}
[data-theme="dark"]{
  --background:#121212;
  --text-color:#F5F5F5;
  --border:#808080;
  --form:#191919;
  --button:#8e05c2;  
  --switch:#6877ce;
}



.loading{
 margin-top: 14rem;
}
body::-webkit-scrollbar {
    display: none;
}
.swiper-button-next,
.swiper-button-prev{
   background-color: rgba(55,55,55,0.75) !important;
   color: white !important;
   padding: 20px 15px !important;
} 
.swiper-pagination-bullet-active {
background-color: white !important;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom:0px !important ;
}
::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-button {
    background: transparent;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-track-piece {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid slategrey;
  }

  ::-webkit-scrollbar-track {
    box-shadow: transparent;
  }
